.card {
  --card-border: var(--border);
  --card-shadow: var(--shadow);
  --card-head-space: 1rem 1.5rem;
  --card-body-space: 1rem 1.5rem;
  --card-foot-space: 1rem 1.5rem;
  --card-body-height: 100%;
  --card-rounded: var(--rounded);
  --card-bg: var(--body);
  --card-title-color: var(--text);
  --card-title-size: 1.4rem;
  --card-title-space: 15px;
  --card-subtitle-color: var(--text);
  --card-subtitle-size: 1.1rem;
  --card-subtitle-space: 15px;
  --card-desc-color: var(--muted);
  --card-desc-size: 1rem;
  --card-desc-space: 15px;
  --card-badge-size: 1rem;
  --card-badge-space: 15px;
  --card-title-clamp: 2;
  --card-subtitle-clamp: 2;
  --card-image-width: 100%;
  --card-image-height: 150px;
  --card-image-rounded: var(--rounded);
  background-color: var(--card-bg);
  color: var(--card-color);
  border-radius: var(--card-rounded);
  border: 1px solid var(--card-border);
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  .card-head {
    width: 100%;
    padding: var(--card-head-space);
  }
  .card-body {
    width: 100%;
    height: 100%;
    padding: var(--card-body-space);
  }
  .card-foot {
    width: 100%;
    padding: var(--card-foot-space);
  }
  .card-title {
    font-size: var(--card-title-size);
    color: var(--card-title-color);
    font-weight: 600;
    margin-bottom: 5px;
  }
  .card-subtitle {
    font-size: var(--card-subtitle-size);
    color: var(--card-subtitle-color);
    font-weight: 500;
    margin-bottom: 5px;
  }
  .card-desc {
    color: var(--card-desc-color);
    font-size: var(--card-desc-size);
    font-weight: normal;
  }
  .card-image {
    height: 200px;
    min-height: 200px;
    width: 100%;
    border-radius: var(--card-rounded) var(--card-rounded) 0 0;

    .image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: inherit;
    }
  }
  .card-badge {
    background-color: var(--primary);
    color: #fff;
    border-radius: 50px;
    padding: 2px 4px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .card-btn {
  }
}
