.card-blog{
    --card-head-space: 10px 20px;
    --card-body-space: var(--card-head-space);
    --card-foot-space: var(--card-head-space);
    --card-title-size: 20px;
    --card-title-color: #000;
    --card-subtitle-size: 16px;
    --card-subtitle-color: #000;
    --card-desc-size: 14px;
    --card-desc-color: #666;
    --card-rounded: 5px;
    --card-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.8);
    --card-border: #ccc;
    --card-bg: #fff;
    --card-color: #000;
}